@import "./variables.scss";

.heading-primary {
  font-size: 4rem;
  //   background-color: red;
  //   font-weight: 400;
  letter-spacing: 0.4rem;
  color: $color-primary;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  display: inline-block;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(#000, 0.2);
  }
}
