$color-primary: #2577fd;
$color-primary-dark: #1b51a9;
$color-primary-light: #00b1ff;
$default-color: #555555;

$color-white: #fff;

$color-grey-light: rgb(142, 142, 142);
$color-grey-for-border: #d0d0d0;

$default-font-size: 1.6rem;
