@import "../../../styles/variables.scss";

.cartSection {
  padding: 10rem 0;
}

.headings {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  font-size: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $color-grey-for-border;
  margin-bottom: 2rem;
  font-weight: 300;
}

.product {
  width: 50%;
}

.priceAndQuantity {
  display: flex;

  width: 50%;
  justify-content: space-between;
}

.subTotal {
  width: 80%;
  // background-color: red;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 2.4rem;
    color: $color-primary;
  }
}

.goCheckout {
  width: 80%;
  margin: 0 auto;

  margin-top: 5rem;
  display: flex;
  justify-content: center;

  & button {
    background-color: $color-primary;
    color: #fff;
    border: none;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 600;
    padding: 1.5rem 2.5rem;

    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
  }
}
